.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }

  .logout {
    background-color: #fff;
  }

  .logout-text{
    color: rgb(194, 193, 193);
    text-align: right;
  }